.u-mt10 {
  margin-top: 10px;
}

.u-mt12 {
  margin-top: 12px;
}

.u-mt20 {
  margin-top: 20px;
}

.u-mt24 {
  margin-top: 24px;
}

.u-mt27 {
  margin-top: 27px;
}

.u-mt33 {
  margin-top: 33px;
}

.u-mt38 {
  margin-top: 38px;
}

.u-mt40 {
  margin-top: 40px;
}

.u-mt58 {
  margin-top: 58px;
}

.u-mt66 {
  margin-top: 66px;
}